<a href="https://colab.research.google.com/github/bambutch/python_classes/blob/main/lesson_5_for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Конспект 5

# Цикл for: сделай для каждого...

В данном уроке мы:  
- узнаем, для чего нам нужны циклы;  
- познакомимся со структурой цикла;  
- научимся создавать цикл;  
- посмотрим, как перебирать значения и индексы списков;  
- попробуем производить вычисления в цикле;  
- посмотрим на ошибки, которые могут возникать при работе с циклами.

Циклы необходимы, если нам надо что-либо сделать множество раз, реализовать последовательность одинаковых действий.  
Цикл **for — «для каждого»** — повторяет определённое действие для каждого элемента последовательности.

## Перебор элементов списка

Cинтаксис и структура цикла for:

![image.png]()

Заголовок цикла содержит:  
- ключевое слово for;  
- переменную - итератор (она перемещается по списку, принимая на каждом шаге очередное значение списка);  
- ключевое слово in;  
- последовательность - список, по которому движется итератор;  
- знак двoеточие.

Тело цикла содержит:  
- отступ (4 пробела);  
- действие, которое совершается с каждым элементом списка.

**Пример**

В выводе результата напечатаем перед каждым элементом списка `senders` (названием станции отправления) - сокращение "ст."

In [ ]:
# список
senders = ['Яничкино', 'Стенькино', 'Комбинатская', 'Новоярославская']

# напечатаем перед каждым именем - сокращение станция - ст.
for sender in senders:
    print('ст.' + sender)

ст.Яничкино
ст.Стенькино
ст.Комбинатская
ст.Новоярославская

## Перебор индексов списка

Вместо того, чтобы перебирать непосредственно элементы списка, можно перебирать их индексы.  
Индексы в списке - числа: `0` - первый индекс, `len() - 1` - последний индекс.  
Цикл for будет идти по числовой последовательности.  
Для ее формирования  используется функция `range()`.

### Функция `range()`

**Синтаксис:**  
`range(stop)`  

**Описание:**  
Возвращает последовательность целых чисел от `0` до `stop-1`

**Примечание:**  
Значение `stop` не входит в последовательность

### Пример

В выводе результата напечатаем перед каждым элементом списка `senders` (названием станции отправления) - сокращение "ст.", используя функцию `range()`.

In [ ]:
# список
senders = ['Яничкино', 'Стенькино', 'Комбинатская', 'Новоярославская']

# напечатаем перед каждым именем - сокращение станция - ст.
for i in range(len(senders)):  
    print('ст.', senders[i])

ст. Яничкино
ст. Стенькино
ст. Комбинатская
ст. Новоярославская

В рассмотренном примере удобнее осуществлять перебор по значениям списка.  
Перебор по индексам подходит, если необходимо изменить элементы списка.

**Пример**

Рассчитаем цены со скидкой. Цены указаны в списке `oil_prices`. Скидка фиксированная - 5%. Новые цены запишем в исходную переменную `oil_prices`.

In [ ]:
# цены на нефтепродукты
oil_prices = [43_000, 39_900, 54_540, 10_000]

# рассчитаем цены со скидкой 5%
for i in range(len(oil_prices)):  
    oil_prices[i] *= 0.95
print(oil_prices)

[40850.0, 37905.0, 51813.0, 9500.0]

Обратим внимание, что в результате цикла исходный список был изменен.

Рассмотрим пример, когда необходимо сформировать новый список на основе изменения исходного.

**Пример**

Рассчитаем цены со скидкой. Цены указаны в списке `oil_prices`. Скидка фиксированная - 5%. Новые цены запишем в переменную `discounted_oil_price`.

In [ ]:
# цены на нефтепродукты
oil_prices = [43_000, 39_900, 54_540, 10_000]

# рассчитаем цены со скидкой 5% и запишем в отдельный список
discounted_oil_price = []                   # 1
for i in range(len(oil_prices)):            # 2
    new_price = oil_prices[i] * 0.95        # 3
    discounted_oil_price.append(new_price)  # 4
print(f'Цены на нефтепродукты: {oil_prices}')
print(f'Цены со скидкой: {discounted_oil_price}')

Цены на нефтепродукты: [43000, 39900, 54540, 10000]
Цены со скидкой: [40850.0, 37905.0, 51813.0, 9500.0]

**1** - объявляем пустой список discounted_oil_price (в него будем записывать новые значения);  
**2** - в цикле for перебираем индексы элементов списка oil_prices;  
**3** - рассчитываем новую цену new_price;  
**4** - добавляем новую цену в конец списка discounted_oil_price

## Вычисления на основе списка

### Сумма элементов списка

В цикле можно посчитать сумму элементов (чисел) списка.

**Пример**

В списке `sales` - отгрузки в течение суток. Рассчитаем общий объем продаж за день.

In [ ]:
# создаем список
sales = [840, 600, 1320, 300, 780, 60, 180]

# продажи за сутки

total_sales = 0          # 1
for sale in sales:       # 2
    total_sales += sale  # 3
    
print(f'Объем отгрузки за сутки: {total_sales} тонн')

Объем отгрузки за сутки: 4080 тонн

**1** - cоздаем переменную-счетчик `total_sales`, в ней будет храниться результат вычислений. Начальное значение равно 0.  
**2** - в цикле for перебираем элементы списка `sales`.  
**3** - рассчитываем общую сумму продаж. В каждую итерацию к счетчику `total_sales` добавляется значение очередного  элемента `sale` из списка `sales`. Таким образом, после выполнения цикла в переменной-счётчике накопится сумма всех значений списка.

Расчет суммы - частая операция, для нее есть встроенная функция `sum()`.

**Пример**

Рассчитаем общий объем продаж за день, используя встроенную функцию `sum()`.

In [ ]:
# создаем список
sales = [840, 600, 1320, 300, 780, 60, 180]

# расчет суммы - функция sum()
total_sales = sum(sales)
print(f'Объем отгрузки за сутки: {total_sales} тонн')

Объем отгрузки за сутки: 4080 тонн

### Произведение элементов списка

В цикле можно посчитать произведение элементов (чисел) списка.

**Пример**

В списке `shipments` содержатся данные об отгрузке: количество - 821.1, 37780 - цена, 0.95 - скидка 5%.
Посчитаем выручку от продажи продукта за день - произведение всех элементов списка.

In [ ]:
# создаем список
# 821.1 - объем отгрузки, 37780 - цена, 0.95 - скидка 5%
shipments = [821.1, 37780, 0.95]

# считаем выручку
revenue = 1                      # 1
for shipment in shipments:       # 2
    revenue *= shipment          # 3
print(f'Выручка за день: {revenue:.2f} рублей')

Выручка за день: 29470100.10 рублей

**1** - cоздаем переменную-счетчик `revenue`. Переменной-счетчику на старте присвоим значение 1 (если присвоим 0 - на первом шаге цикла получим умножение на 0 и, соответственно, нулевой результат).   
**2**  - перебираем элементы списка `shipments`.  
**3** - рассчитываем выручку за день, используя оператор `*=`

Произведение можно рассчитать с помощью встроенной функции `prod()` из модуля `numpy` (модуль - это файл с кодом).

**Пример**

Посчитаем выручку от продажи продукта за день - произведение всех элементов списка - испльзуя функцию `numpy.prod()`.

Чтобы подключить модуль необходимо в начале программы прописать следующую инструкцию:
`import numpy`

In [ ]:
# импорт модуля math
import numpy

# создаем список
# 821.1 - объем отгрузки, 37780 - цена, 0.95 - скидка
shipments = [821.1, 37780, 0.95] 

# считаем выручку
revenue = numpy.prod(shipments)

# результат
print(f'Выручка за день: {revenue:.2f} рублей')

Выручка за день: 29470100.10 рублей

### Поиск max() и min()

Распространенная аналитическая задача - поиск максимального и минимального значений. Посмотрим, как можно выполнить ее в цикле и с помощью встроенных функций.

**Пример**

Найдем максимальный объем отгрузки за день.

Здесь в цикле возникнет  условная конструкция `if` - о ней подробно мы будем говорить в следущем разделе курса.

In [ ]:
# создаем список
sales = [840, 600, 1320, 300, 780, 60, 180]

# поиск максимума

max_sales = 0               # 1
for sale in sales:          # 2
    if sale > max_sales:    # 3
        max_sales = sale    # 4

# результат
print(f'Максимальный объем продаж: {max_sales} тонн')

Максимальный объем продаж: 1320 тонн

**1** - cоздаем переменную `max_sales`. Переменной-счетчику на старте присвоим значение 0.  
**2**  - перебираем элементы списка `sales`.  
**3** - проверка условия если значение очередного элемента больше `max_sales`.  
**4** - если очередное значение элемента больше `max_sales`, присваиваем его `max_sales`.

Решение поиска максимального значения в приведенном примере не универсально. Мы понимаем, что работаем с неотрицательными значениями в списке. Лучше воспользоваться встроенной функцией `max()`.

**Пример**

Найдем максимальный объем отгрузки за день `sales`, используя функцию `max()`.

In [ ]:
# создаем список
sales = [840, 600, 1320, 300, 780, 60, 180]

# поиск максимума
max_sales = max(sales)

# результат
print(f'Максимальный объем продаж: {max_sales} тонн')

Максимальный объем продаж: 1320 тонн

Аналогичным образом решается задача поиска минимального значения в списке.

**Пример**

Найдем максимальный объем отгрузки за день `sales`, используя функцию `min()`.

In [ ]:
# создаем список
sales = [840, 600, 1320, 300, 780, 60, 180]

# поиск минимума
min_sales = min(sales)

# результат
print(f'Минимальный объем продаж: {min_sales} тонн')

Минимальный объем продаж: 60 тонн

### Типичные ошибки в использовании цикла for

#### Ошибки с отступами

##### Пропуск отступа

Строка после команды for в цикле всегда должна снабжаться отступом (4 пробела).  
Если вы забудете поставить отступ - появится сообщение с указанием номера строк.

In [ ]:
# список
senders = ['Яничкино', 'Стенькино', 'Комбинатская', 'Новоярославская']

# напечатаем перед каждым именем - сокращение станция - ст.
for sender in senders:
print('ст.' + sender)

IndentationError: expected an indented block (<ipython-input-12-6501a1c07619>, line 6)

##### Лишние отступы после цикла

Если вы случайно снабдите отступом код, который должен выполняться после завершения цикла, то этот код будет выполнен для каждого элемента.  
Иногда Python выводит сообщение об ошибке, но часто дело ограничивается простой *логической ошибкой.*

In [ ]:
# создаем список
sales = [840, 600, 1320, 300, 780, 60, 180]

# продажи за сутки

total_sales = 0
for sale in sales:
    total_sales += sale
    # строка с лишним отступом
    print(f'Объем отгрузки за сутки: {total_sales} тонн')

Объем отгрузки за сутки: 840 тонн
Объем отгрузки за сутки: 1440 тонн
Объем отгрузки за сутки: 2760 тонн
Объем отгрузки за сутки: 3060 тонн
Объем отгрузки за сутки: 3840 тонн
Объем отгрузки за сутки: 3900 тонн
Объем отгрузки за сутки: 4080 тонн

Функция `print()` вывела результат каждого шага, тогда как мы планировали получить одно итоговое значение отгрузки.

#### Пропущенное двоеточие

Двоеточие в конце команды for сообщает Python, что следующая строка является началом цикла.  
Если вы случайно забудете поставить двоеточие, как в примере ниже, произойдет **синтаксическая ошибка**.

In [ ]:
# создаем список
sales = [840, 600, 1320, 300, 780, 60, 180]

# продажи за сутки

total_sales = 0
for sale in sales
    total_sales += sale
    
print(f'Объем отгрузки за сутки: {total_sales} тонн')

SyntaxError: invalid syntax (<ipython-input-14-34581754fc32>, line 7)

## Итоги
1. Цикл `for` — «для каждого» — повторяет определённое действие для каждого элемента списка.  
2. В цикле можно "перебирать" значения списка или его индексы.  
3. Перебор индексов можно организовать с помощью функции `range()`.
4. Длину списка (количество элементов в списке) определяем функцией `len()`.
5. С помощью цикла можно производить различные вычисления - суммирование элементов списка, произведение, поиск максимума и минимума.  
6. Встроенные функции при работе со списками - `sum()`, `max()`, `min()`, в модуле `numpy` -`prod()`.  
7. `import numpy` - импорт модуля для работы с ним.  
8. Python чаще всего укажет вам на допущенные при формировании цикла ошибки (пропуск отступа, пропус двоеточия). В случае с лишними отступами это может привести к логическим ошибкам.

## При подготовке конспекта использованы:

[Синтаксис и возможности цикла for Python](https://pythonru.com/osnovy/cikl-for-in)  
[Цикл "for" в Python — универсальная управляющая конструкция](https://pythonchik.ru/osnovy/cikl-for-v-python)  
[Функция range в Python](https://pythonchik.ru/osnovy/python-range)  
[Документация Python](https://docs.python.org/3/library/stdtypes.html?highlight=range#range)
[Mathematical functions](https://docs.python.org/3/library/math.html)  
[Модуль Math в Python](https://pythonchik.ru/matematika/modul-math-v-python)  
Мэтиз Эрик. Изучаем Python. Программирование игр, визуализация данных, веб-приложения.